HW2/SML/digit.m
HW2/SML/digit.mat
HW2/SML/knn.m
HW2/SML/myrand.m
HW2/SML/octave-workspace
HW2/SML/pdf.m
HW1/report/hw1_sml_okumura.dvi
HW1/report/hw1_sml_okumura.pdf
HW1/report/hw1_sml_okumura.tex
HW2/report/hw2_sml_okumura.dvi
HW2/report/hw2_sml_okumura.pdf
HW2/report/hw2_sml_okumura.tex
HW3/report/hw3_sml_okumura.dvi
HW3/report/hw3_sml_okumura.pdf
HW3/report/hw3_sml_okumura.tex
HW4/report/hw4_sml_okumura.dvi
HW4/report/hw4_sml_okumura.pdf
HW4/report/hw4_sml_okumura.tex
HW5/report/hw5_sml_okumura.dvi
HW5/report/hw5_sml_okumura.pdf
HW5/report/hw5_sml_okumura.tex
HW6/report/hw6_sml_okumura.dvi
HW6/report/hw6_sml_okumura.pdf
HW6/report/hw6_sml_okumura.tex
